beautifulsoup4==4.11.1
certifi==2019.3.9
chardet==3.0.4
feedparser==5.2.1
Flask==2.2.2
Flask-Admin==1.6.0
Flask-BabelEx==0.9.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Principal==0.4.0
git+https://github.com/mattupstate/flask-security
Flask-SQLAlchemy==3.0.0
Flask-WTF==1.0.1
gunicorn==20.1.0
Jinja2==2.10.1
Pillow==6.0.0
psycopg2==2.9.4
python-dateutil==2.8.2
python-dotenv==0.21.0
python-editor==1.0.4
pytz==2019.1
requests==2.28.1
six==1.12.0
SQLAlchemy==1.4.41
WTForms==3.0.1
