@font-face {
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* resets default styles across browsers */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  background-color: #fbfbfb;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 1em;
}

/* navbar styles */
.main-nav {
  display: flex;
  width: 50%;
  margin-bottom: 25px;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  padding: 15px;
}

.logo {
  margin-right: auto;
  padding: 15px;
}

/* venue listing styles */
.venues-container {
  display: flex;
  flex-direction: column;
  width: 50%;
} /* the child elements of the venues-container div are rendered with flexbox
and in a column centered to the page */

.venue-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.venue-name {
  flex: 0 1 100%;
  margin-bottom: 10px;
}

/* screening styles */
.screening {
  flex: 0 1 50%;
  margin-bottom: 20px;
}

.screening-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.showtimes {
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
  list-style-type: none;
}

.showtime {
  margin-right: 5%;
}

/* link styles */
a:link,
a:visited {
  color: #5d6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* datepicker styles */
.datepicker-container {
  width: 50%;
  margin-bottom: 2%;
}

.datepicker {
  display: flex;
  justify-content: space-between;
}

.date-button {
  width: 14%;
  padding: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #7a7c7f;
  border: none;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.date-button:hover {
  background-color: #5d6063;
}

.date-button:active {
  background-color: #4d4f52;
}

/* venues page styles */
.venue-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.venue-grid-item {
  margin-bottom: 3%;
}

.venue-grid-item img {
  border: 1px solid #5d6063;
}

/* venue style */
.venue-listing {
  display: flex;
  width: 50%;
}

.venue-info {
  margin-left: 15px;
}

.photo {
  border: 1px solid #5d6063;
}

/* about page styles */
.about {
  width: 50%;
  padding: 0 15px 0 15px;
}

/* footer styles */
.footer-nav {
  display: flex;
  width: 50%;
  margin: 48px 0 48px 0;
  border-top: 1px solid #dee2e6;
}

.footer-menu {
  display: flex;

  list-style-type: none;
}

.footer-menu li {
  padding: 15px;
}

.author {
  margin-right: auto;
  padding: 15px;
}
