{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<article>
  <p>The mission of Reel Miami is to promote film culture in Miami-Dade County.
    It is born out of a lack of a centralized resource for art house film in the region.</p>
  <p>The website achieves this mission primarily by listing all specialty film screenings located
    throughout Greater Miami.</p>
  <p>In keeping with the spirit of the non-profit art house, this website is
    entirely open source. The code can be reviewed <a href="https://github.com/deadlyraptor/reel-miami">here</a>.</p>
</article>
{% endblock content %}
