{% extends 'base.html' %}
{%block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="intro">
    <h1>Reel Miami</h1>
    <p>This open-source website lists all films and their screening times at
       art house cinemas in Miami-Dade County.
    </p>
  </div>
  <div class="venues-container">
    <div class="venue-container">
      <div class="venue-name">
        <h3>Coral Gables Art Cinema</h3>
      </div>
      {% for film in cgac_films %}
      <div class="screening">
        <div>
          <a href="http://www.gablescinema.com/events/{{ film.external_id }}">{{ film.name }}</a>
        </div>
        <div class="screening-details">
          <span class="detail">{{ film.duration }} min</span>
        </div>
        <ol class="showtimes">
          {% for showtime in film.showtimes %}
            <li class="showtime"><a href="{{ showtime.buy_link }}">{{ showtime.start_time|format_showtime }}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>
    <div class="venue-container">
      <div class="venue-name">
        <h3>O Cinema Miami Beach</h3>
      </div>
      {% for film in omb_films %}
      <div class="screening">
        <div>
          <a href="https://www.o-cinema.org/event/{{ film.name.lower() }}">{{ film.name }}</a>
        </div>
        <div class="screening-details">
          <span class="detail">{{ film.duration }} min</span>
        </div>
        <ol class="showtimes">
          {% for showtime in film.showtimes %}
            <li class="showtime"><a href="{{ showtime.buy_link }}">{{ showtime.start_time.strftime('%I:%M%p').lower().lstrip('0') }}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
