{% extends 'base.html' %}
{%block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="intro">
    <p>This open-source website lists all films and their screening times at
       art house cinemas in Miami-Dade County.
    </p>
  </div>
  <div class="venues-container">
    <div class="venue-container">
      <div class="venue-name">
        <h3><a href="http://gablescinema.com">Coral Gables Art Cinema</a></h3>
      </div>
      {% for film in cgac_films %}
        {% include "snippets/film-snippet.html" %}
      {% endfor %}
    </div>
    <div class="venue-container">
      <div class="venue-name">
        <h3><a href="https://www.o-cinema.org/">O Cinema Miami Beach</a></h3>
      </div>
      {% for film in omb_films %}
        {% include "snippets/film-snippet.html" %}
      {% endfor %}
    </div>
    <div class="venue-container">
      <div class="venue-name">
        <h3><a href="http://mbcinema.com/">Miami Beach Cinematheque</a></h3>
      </div>
      {% for film in mbc_films %}
      <div class="screening">
        <div>
          <a href="{{ film.info_link }}">{{ film.name }}</a>
        </div>
        <ol class="showtimes">
          <li class="showtime">
            <a href="{{ film.showtimes.buy_link }}">
              <time datetime="{{ film.showtimes.start_time }}">
                {{ film.showtimes.start_time }}
              </time>
            </a>
          </li>
        </ol>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
