{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="venue-grid-container">
  <div class="venue-grid">
    {% for venue in venues %}
      <div class="venue-grid-item">
        <a href="{{ url_for('main.venue', id=venue.id) }}"><img src="static/images/venues/{{ venue.venue_photo }}" height="175" width="350" /></a>
        <a href="{{ url_for('main.venue', id=venue.id) }}"><p>{{ venue.name }}</p></a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
