<div class="screening">
  <div>
    <a href="{{ film.info_link }}">{{ film.name }}</a>
  </div>
  <div class="screening-details">
    <span class="detail">{{ film.duration }} min</span>
  </div>
  <ol class="showtimes">
    {% for showtime in film.showtimes %}
      <li class="showtime">
        <a href="{{ showtime.buy_link }}">
          <time datetime="{{ showtime.start_time }}">
            {{ showtime.start_time|format_showtime }}
          </time>
        </a>
      </li>
    {% endfor %}
  </ol>
</div>
