<div class="screening">
  <div>
    {% if film.film_link %}
      <a href="{{ film.film_link }}">{{ film.name }}</a>
    {% else %}
      {{ film.name }}
    {% endif %}
  </div>
  {% if film.duration %}
  <div class="screening-details">
    <span class="detail">{{ film.duration }} min</span>
  </div>
  {% endif %}
  <ol class="showtimes">
    {% for showtime in film.showtimes %}
      <li class="showtime">
        <a href="{{ showtime.ticketing_link }}">
          <time datetime="{{ showtime.start_time }}">
            {{ showtime.start_time|format_showtime }}
          </time>
        </a>
      </li>
    {% endfor %}
  </ol>
</div>
